.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.bg_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -2;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
