.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 38px;
  background-color: #9f0013;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
  margin: 0 auto;
  cursor: pointer;
}
